@media (max-width: 430px){
    .card{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-family: 'Lexend Deca';
    }

    .card h2{
        font-family: 'Big Shoulders Display';
        font-size: 45px;
    }

    .card-sedan{
        background-color: hsl(31, 77%, 52%);
        color: white;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding: 20px;
    }

    .card-suv{
        background-color:hsl(184, 100%, 22%);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding: 20px;
    }

    .card-luxury{
        background-color: hsl(179, 100%, 13%);
        color: white;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding: 20px;
    }


    .card a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 30px;
        width: 160px;
        height: 50px;
        margin-top: 70px;
        text-decoration: none;
        margin-top: 100px;
        background-color: white;
    }

    .card-sedan a {
        color: hsl(31, 100%, 50%);
    }
    .card-sedan a:hover {
        background-color: hsl(31, 77%, 52%);
        color: white;
    }

    .card-suv a {
        color:  hsl(184, 100%, 22%);
    }
    .card-suv a:hover {
        background-color: hsl(184, 100%, 22%);
        color: white;
    }

    .card-luxury a {
        color: hsl(179, 100%, 13%);
    }
    .card-luxury a:hover {
        background-color: hsl(179, 100%, 13%);
        color: white;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      }

}

@media (min-width: 431px){
    .card{
        display: flex;
        flex-direction: row;
        width: 950px;
        height: 550px;
        margin-left: 25%;
        font-size: 15px;
        font-family: 'Lexend Deca';

    }

    .card h2{
        font-family: 'Big Shoulders Display';
        font-size: 45px;
    }

    .card-sedan{
        background-color: hsl(31, 77%, 52%);
        padding: 50px;
        color: white;
        border-radius: 10px 0 0 10px;
   }

   .card-suv{
        background-color: hsl(184, 100%, 22%);
        padding: 50px;
        color: white;
    }

    .card-luxury{
        background-color: hsl(179, 100%, 13%);
        padding: 50px;
        color: white;
        border-radius: 0 10px 10px 0;
    }

    .card a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 30px;
        width: 160px;
        height: 50px;
        margin-top: 70px;
        text-decoration: none;
        margin-top: 100px;
        background-color: white;
    }

    

    .card-sedan a {
        color: hsl(31, 100%, 50%);
    }
    .card-sedan a:hover {
        background-color: hsl(31, 77%, 52%);
        color: white;
    }

    .card-suv a {
        color:  hsl(184, 100%, 22%);
    }
    .card-suv a:hover {
        background-color: hsl(184, 100%, 22%);
        color: white;
    }

    .card-luxury a {
        color: hsl(179, 100%, 13%);
    }
    .card-luxury a:hover {
        background-color: hsl(179, 100%, 13%);
        color: white;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
}